- title "Edit Traffic Condition Historical"

= render 'form'

%p{:class => 'nav-links'}
  = link_to "Show", @traffic_condition_historical
  |
  = link_to "View All", traffic_condition_historicals_path
